In [1]:
# import pandas as pd
import json

In [3]:
db_file = 'db.json'

df = pd.read_json(db_file)
df.head()

,Genre,Program Title,Link,Episodes,Years Show Aired,Alternate Collection of Episodes
0,Literary / Broadway,Lux Radio Theater,https://archive.org/details/OTRR_Lux_Radio_The...,789.0,1934-1955,NaN
1,Literary / Broadway,Orson Welles' Mercury Theater on the Air,https://archive.org/details/OrsonWelles-Mercur...,22.0,1938,NaN
2,Literary / Broadway,The Weird Circle,https://archive.org/details/OTRR_Weird_Circle_...,78.0,1943-1945,NaN
3,Sci-Fi,The Blue Beetle,https://archive.org/details/OTRR_Blue_Beetle_S...,72.0,1940,NaN
4,Sci-Fi,Dimension X,https://archive.org/details/OTRR_Dimension_X_S...,50.0,1950-1951,NaN

In [2]:
db = []
with open("db.json", 'r') as f:
    db = json.load(f)
len(db)

52

In [32]:

for record in db:
    if "Collections" not in record:
        new_record = {"Link": record['Link']}
        if 'Episodes' in record:
            new_record['Episodes'] = record['Episodes']
            del record['Episodes']
        record["Collections"] = [new_record]
        del record['Link']

        if c in record:
            parsed = record[c].split(', ')
            if len(parsed) == 1:
                record["Collections"].append({"Link": parsed[0]})
            if len(parsed) == 2:
                record["Collections"].append({"Link": parsed[0], "Episodes": parsed[1]})

In [24]:
f = open("descriptions.md", 'r', encoding='utf-8')

genre = ''
title = ''
episodes = -1
url = ''
description = ''

all = []


for line in f:
    line = line.strip()
    if line.startswith('## '):
        genre = line[3:]
        title = ''

    elif line.startswith('### '):
        title = line[4:]
        episodes = -1
        url = ''
        description = ''

        if title.startswith('['):
            idx = title.find('](')
            if idx > 0:
                url = title[idx+2:-1]
                title = title[1:idx]

        if title == 'Let George Do It':
            print('Processed "Let George Do It"')

    elif line.endswith(' episodes'):
        try:
            episodes = int(line[:-9])
        except:
            pass


        record = {
            'Genre': genre,
            'Program Title': title,
            'Link': url,
            'Episodes': episodes,
            'Description': description.strip()
        }
        all.append(record)

    elif title:
        description += '\n' + line

    elif line == '' and description:
        description += '\n'

f.close()

f = open('db2.json', 'w', encoding='utf-8')

f.write(json.dumps(all, indent=4))

f.close()

Processed "Let George Do It"

In [25]:
db_lst = []
db = {}
new_db = {}

with open('db.json', 'r', encoding='utf-8') as f:
    db_lst = json.load(f)

for record in all:
    new_db[record['Program Title']] = record

print("Old:", len(db_lst), "\nNew:", len(all))


for record in db_lst:
    try:
        found = new_db[record['Program Title']]
        record['Description'] = found['Description']
    except:
        print('Not found:', record['Program Title'])

    # new_db[record['Program Title']] = record

f.close()
f = open('db.json', 'w', encoding='utf-8')

f.write(json.dumps(db_lst, indent=4))

f.close()

Old: 52
New: 54

In [29]:
for record in db_lst:
    db[record['Program Title']] = record

print('In db but not new_db:')
for record in db_lst:
    try:
        found = new_db[record['Program Title']]
    except:
        print(record['Program Title'])


print('In new_db but not db:')
for record in all:
    try:
        found = db[record['Program Title']]
    except:
        print(record['Program Title'])

print(len(db))
print(len(new_db))

In db but not new_db:
In new_db but not db:
52
52

In [4]:
"https://archive.org/details/OTRR_Lux_Radio_Theater_Singles"[28:]

'OTRR_Lux_Radio_Theater_Singles'

In [6]:
for record in db:
    ArchiveID = record['Link'][28:]
    record['ArchiveID'] = ArchiveID
    del record['Link']

KeyError: 'Link'

In [7]:

f = open('db2.json', 'w', encoding='utf-8')

f.write(json.dumps(db, indent=4))

f.close()